@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


html {
  scroll-behavior: smooth;
}
body{
  background-color: #000000;
}
html, body, div, span, applet, object, iframe,ㅞ
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  letter-spacing: -3%;
  text-decoration: none;
  word-break: keep-all;
  font-size: 10px;
  box-sizing: border-box;
  list-style: none
};
ul, ol{
  margin:  0;
}
button{
  display: flex;
  cursor: pointer;
  outline: none;
  text-transform: capitalize !important;
};
input{
  display: flex;
  outline: none;
  padding-left: 10px;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.MuiFormHelperText-root{
  font-size: 12px !important;
}
.css-1udgaj4-MuiButtonBase-root-MuiPickersDay-root{
  font-size: 1.4rem !important;
}
.css-dxxk1i-MuiTypography-root-MuiDayCalendar-weekDayLabel{
  font-size: 1.4rem !important;
}
.css-16zdsnp-MuiButtonBase-root-MuiPickersDay-root:not(.Mui-selected){
  font-size: 1.4rem !important;
  border-color: #3C3C95 !important;
}
.css-1rtdm8b-MuiPickersYear-yearButton{
  width: auto !important;
  font-size: 1.4rem !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*width*/
.w-1{
  width: 10%;
}
.w-2{
  width: 20%;
}
.w-3{
  width: 30%;
}
.w-4{
  width: 40%;
}
.w-5{
  width: 50%;
}
.w-6{
  width: 60%;
}
.w-7{
  width: 70%;
}
.w-8{
  width: 80%;
}